body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-top: 10px;
}
.all-items{
    margin-top: 50px;
    border: 1px solid white;
    padding: 0px 50px 5px 5px;
}
.focus-color{
    color: #333333;
}
.mission-color{
    color: #FFAD5A;
}
.side-bar{
    border-left: 3px solid #FF5959;
    padding-left: 10px;
}
.parent{
    display: flex;
    width: 80%;
    margin: auto;
}
.person-photo img{
    width: 300px;
}
.para-color{
    color: #3E3E3E;
}
.btn-details{
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: #FFAD5A;
}
.mission-heading{
    text-align: center;
}
.mission{
    border: 1px solid black;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.mission img{
    width: 150px;

}